@CHARSET "UTF-8";
/*
     2 Column (Left Menu) Liquid Layout as described on 
     http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm
*/

/* Header styles */
header {
    clear:both;
    float:left;
    width:100%;
}

/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
       width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
.leftmenu {
    background:#F4F4F4;
}

.colright {
       float:left;
       width:200%;
       position:relative;
       background:#fff;
}

.leftmenu .colright {
       left:12em;
}

.nomenu .colright {
		left: 1em;
}

.leftmenu .col1wrap {
    right:12em;
}

.nomenu .col1wrap {
	right: 1em;
}
.col1wrap {
    float:right;
    width:50%;
    position:relative;
    padding-bottom:1em;
}

.mainColumn {
    position:relative;
    right:100%;
    overflow:hidden;
}

.leftmenu .mainColumn {
       margin:0 1em 0 13em;
}

.nomenu .mainColumn {
       margin:0 1em 0 1em;
}



.menuColumn {
       float:left;
       width:10em;
       position:relative;
       right:11em;
}